### Soal 1

In [13]:
student = {
    1: {'name':'Idaz','age':'27','sex':'Male'},
    2: {'name':'Emma','age':'22','sex':'Female'},
}

In [14]:
# Mencetak usia Idaz
student[1]["age"]

'27'

### Soal 2

In [15]:
# Menulis if statement
#if x > y:

### Soal 3

In [16]:
# Penulisan struktur data dictinaries yang benar
d = { 'foo' : 1 , 'bar' : 2 , 'baz' : 3 }

### Soal 11

In [17]:
for l in "Idaz":
    if l == 'a':
        pass
    print(l, end=", ")

I, d, a, z,

In [18]:
aTuple = (100,200,300,400,500)
aTuple[1] = 800
print(aTuple)
# Type Error karena tuple immutable atau tdk dapat diubah

TypeError: 'tuple' object does not support item assignment

In [19]:
x = 0
while (x<100):
    x+=2
print(x)

100

In [22]:
x = 10
y = 50
if (x**2 > 100 and y < 100) :
    print(x,y) #None

In [24]:
def outerFun(a,b):
    def innerFun(c,d):
        return c+d
    return innerFun(a,b)
res = outerFun(5, 10) 
print(res)

15

In [29]:
import numpy as np
names = np.array([
    ["Idaz", "anggara"],
    ["dear", "kurniawan"]
])
# menampilkan baris pertama pd numpy array
print(names[0])

['Idaz' 'anggara']

In [31]:
studentss = {"name":"Kode", "age":"13"}
studentss["name"]

'Kode'